.title{
    padding: 20px 0px;
    text-align: center;
    justify-content: center;
}

.espaco_lista_experiencia{
    padding: 20px 0px;
    max-width: 90%;
    margin: 0 auto;
}

.espaco_lista_aptidoes{
    padding: 20px 0px;
    max-width: 90%;
    margin: 0 auto;
}

.lista{
    font-size: 16px;
}

@media (max-width: 970px) {
    .listas{
       padding: 0px 0px 0px 25px;
        max-width: 100%;
    }
}




