.title{
    margin: 30px;
    text-align: center;
}

.alinhamento{
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    margin: 0 auto;
    justify-content: center;
}

.espacamento{
    margin: 5px;
    text-align: center;
}

.image{
    border-radius: 8px;
}

.text{
    max-width: 60%;
    margin: 0 auto;
}

@media (max-width: 1500px) {
    .alinhamento{
        max-width: 80%;
        margin: 0 auto;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .alinhamento{
        max-width: 100%;
        margin: 0px 0px 50px 0px ;
        align-items: center;
    }
    .text{
        max-width: 80%;
        margin: 0 auto;
    }
}
