.footer {
    align-items: center;
    border-top: 1px solid #eaeaea;
    /*border: 1px solid red;*/
}

.text_align{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    color: white;
}

.text_align_p{
    text-align: center;
    font-size: 13px;
    color: white;
}
